<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>892817253830-9vlhknu2d7i49in4k7cduj8bj7g116p1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.892817253830-9vlhknu2d7i49in4k7cduj8bj7g116p1</string>
	<key>API_KEY</key>
	<string>AIzaSyCUU-Udu5pZmDwWPHE90z8Vx8LepOMWnN8</string>
	<key>GCM_SENDER_ID</key>
	<string>892817253830</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pace.careers</string>
	<key>PROJECT_ID</key>
	<string>pace-careers</string>
	<key>STORAGE_BUCKET</key>
	<string>pace-careers.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:892817253830:ios:764f9a2d2a76aebced7ec7</string>
</dict>
</plist>